.our-products{
    width: 100%;
    padding: 50px 0;

    .block{
        padding:0;
        .card{
            @include card();
            padding: 0 0 10px;
            border-radius: 0;
            .card-img{
                width: 100%;
                height: 200px;
                .img-fluid{width: 100%;height: 100%;}
            }
            .card-text{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 10px;
                .price{
                    @include font-face;
                }
                .rate{
                    .fas:hover{color: $hover-color;}
                }
            }
            
            .btn{padding: 12px 20px;font-size: 1rem;}
        }
    }
    .load-btn{
        text-align: center;
        margin-top: 30px;
    }
    
}